html,
body {
    height: 100%;
    width: 100%;
}

/* Navbar */
.navbar {
    background-color: #FFFFFF;
    padding: 1% 0;
    font-size: 12px;
}

.navbar-brand {
    padding: 0 20px 5px;
    font-size: 16px
}

#logo {
    height: 55px;
    width: 55px;
    margin: 10px 20px 10px 20px;
    display: inline-block;
}

.navbar-default .navbar-nav li a {
    color: #707b7c;
}

#navbar-collapse-main {
    margin-right: 30px
}

/* Boxes */
#map-container {
    padding-top: 120px;
    padding-left: 10px;
    height: 90%;
}

#school_map, #funct_tables, #source_tables {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 400px;
    float:left;
    width: 100%;
}

#funct_tables, #source_tables {
    overflow: auto;
}

/* Popup */
.leaflet-popup .title {
    margin-bottom: 5px;
}

.leaflet-popup hr {
    margin: 10px 0;
}

/* Tab */
.tab-container {
    position: relative;
    height: 100%;
}
.tab {
    float:left;
    background: white;
    /*width: 100%;*/
}

.tab:not(:target),
.tab:first-child:not(:target){
    display:none;
}
.tab:target,
.tab:first-child {
    display: block;
}

/* Map */
#mapid {
    height: 90%;
    width: 100%;
}

/* Search */
#findbox {
    height: 10%;
    float:left;
    width: 100%;
}
#findbox .search-input {
    background: #eee;
    border-radius:.125em;
    border:2px solid #1978cf;
    box-shadow: 0 0 8px #999;
    margin-bottom: 10%;
    padding: 2px 0;
    width: -webkit-calc(100% - 34px);
    width:    -moz-calc(100% - 34px);
    width:         calc(100% - 34px);
    max-width: 100% !important;
    height: 26px;
}
.search-tooltip {
    /*width: 200px;*/
}
.leaflet-control-search .search-cancel {
    position: static;
    float: left;
    margin-left: -22px;
}