html,
body {
    height: 100%;
    width: 100%;
}

/* Navbar */
.navbar {
    background-color: #FFFFFF;
    padding: 1% 0;
    font-size: 12px;
}

.navbar-brand {
    padding: 0 20px 5px;
    font-size: 16px
}

#logo {
    height: 55px;
    width: 55px;
    margin: 10px 20px 10px 20px;
    display: inline-block;
}

.navbar-default .navbar-nav li a {
    color: #707b7c;
}

#navbar-collapse-main {
    margin-right: 30px
}

/* Boxes */
#map-container {
    padding-top: 120px;
    padding-left: 10px;
    height: 90%;
}

#school_map, #funct_tables, #source_tables {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 400px;
    float:left;
    width: 100%;
}

#funct_tables, #source_tables {
    overflow: auto;
}

/* Popup */
/*
.info {
    background:#fff;
    position:absolute;
    width:260px;
    top:10px;
    right:10px;
    border-radius:2px;
}
.info .item {
    display:block;
    border-bottom:1px solid #eee;
    padding:10px;
    text-decoration:none;
}
.info .item small { color:#888; }
.info .item:hover,
.info .item.active { background:#f8f8f8; }
.info .item:last-child { border-bottom:none; }
*/
.leaflet-popup-content-wrapper {
}

.leaflet-popup-content {
    width:450px !important;
    height:300px;
}



.leaflet-popup .title {
    margin-bottom: 5px;
}

.leaflet-popup hr {
    margin: 10px 0;
}


/* Tab */
.tabs {
    position:relative;
    overflow-y: auto;
    height:calc(100% - 80px); /* 300 - 20 = 280*/
    clear:both;
    /*margin:25px 0;*/
}
.tab {
    float:left;
    display: none;
}
.tab:first-of-type {
    display: inline-block;
}
.tabs-link {
    overflow-y: hidden;
    width: 100%;
    overflow-x: auto;
    padding-inline-start: 0px;
    display: -webkit-inline-box;
    white-space: nowrap;
    position: relative;
    /*top: -14px;
    height: 20px;
    left: -40px;*/
}
/*
.tab-link a:focus {
    background:#000 !important;
}*/

.tab-link:hover {
    background:#f8f8f8 !important;
}
.tab-link a:link {
    text-decoration:none;
}
.tab-link {
    background:#fff;
    display: inline-block;
    padding:10px;
    /*border:1px solid #ccc;*/
    margin-left:-1px;
    position:relative;
    list-style-type: none;
    left:1px;
    top:1px;
    /*cursor:pointer;*/
}

.content {
    background:white;
    position:absolute;
    /*top:28px;*/
    left:0;
    right:0;
    bottom:0;
    /*padding:20px;*/
    /*border:1px solid #ccc;*/
}

.content {
    position: relative;
    height: 100%;
}

.tab-container {
    position: relative;
    height: 100%;
}
.tab {
    float:left;
    background: white;
}

.tab:target,
.tab:first-child {
    display: block;
}

.tab:target {
    display: block;
}

.tab:not(:target){
    display:none;
}
/* Map */
#mapid {
    height: 90%;
    width: 100%;
}

/* Search */
#findbox {
    z-index:5000;
    height: 35px;
    float:left;
    width: 100%;
}
#findbox .search-input {
    max-width: 100% !important;
    background: #eee;
    border-radius:.125em;
    border:2px solid #1978cf;
    box-shadow: 0 0 8px #999;
    /*padding: 2px 0;*/
    width: -webkit-calc(100% - 64px);
    width:    -moz-calc(100% - 64px);
    width:         calc(100% - 64px);
    /*height: 26px;*/
}
.leaflet-control-search.search-exp {
    all: initial;
    * {
        all: unset;
    }
}


.leaflet-control-search .search-cancel {
    position: static;
    float: left;
    margin-left: -22px;
}
.leaflet-control-search ul {
	font-size:.85em;
	margin:0;
	padding:0;
	list-style: none;
	max-height: 100px;
    overflow-y: auto;
}
.leaflet-control-search li {
	margin:0 0 2px 18px;
}

/* District priority */
.info {
    position: relative;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
/* Sector */
.sectorLabel{
    background: rgba(255, 255, 255, 0);
    border:0;
    border-radius:0px;
    box-shadow: 0 0px 0px;
}

/* Audit */
.link_audit {
    display:block;
}


/* Legend */
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
.imgLegend {
    width: 30px;
}
.info.legend.leaflet-control:hover > .lineLegend {
    display:block;
}
.info.legend.leaflet-control:target > .lineLegend {
    display:block;
}

.lineLegend {
    display:none;
}

#toggle:checked ~ .lineLegend {
    display:block !important;
}
.visually-hidden {
    position: absolute;
    left: -100vw;
    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
}
